In [2]:
import os
import requests
import json
import pandas as pd
import difflib

In [61]:
base_url = 'https://api.data.gov/ed/collegescorecard/v1/'
data_set = 'schools.json?'
fields = ['school.name', 
          'school.address',
          'location.lat',
          'location.lon',
          'latest.school.operating',
          'latest.admissions.admission_rate.overall',
          'latest.student.size',
          'latest.student.demographics.men',
          'latest.student.demographics.women',
          'latest.cost.tuition.in_state',
          'latest.cost.tuition.out_of_state',
          'latest.cost.attendance.academic_year',
          'latest.cost.attendance.program_year',
          'latest.student.demographics.race_ethnicity.white',
          'latest.student.demographics.race_ethnicity.black',
          'latest.student.demographics.race_ethnicity.hispanic',
          'latest.student.demographics.race_ethnicity.asian',
          'latest.student.demographics.race_ethnicity.aian',
          'latest.student.demographics.race_ethnicity.nhpi',
          'latest.student.demographics.race_ethnicity.unknown',
          'latest.student.retention_rate',
          'latest.admissions.sat_scores.average.overall',
          'latest.admissions.act_scores.midpoint.cumulative',
          'latest.academics.program_percentage',
          'latest.academics.program.assoc',
          'latest.earnings.1_yr_after_completion.median',
          'latest.earnings.4_yrs_after_completion.median'
         ]
cred_level = [
                'latest.programs.cip_4_digit.credential.level', # causes error sometimes 24
                'latest.programs.cip_4_digit.title'  # causes error sometimes 25
            ]

options = '&per_page=100&page=65&sort=school.name' # repeat with increasing the page count until you get empty results
api_key = '&api_key='

request_url = base_url + data_set + '&fields=' + ','.join(fields) + options + api_key

In [62]:
colleges_dict = {}
error_list = []
for page in range(6600//10,): # 66 when doing 100 per page, 6543 total colleges 6544/2
    if page % 5 == 0:
        print(page)
    options = '&per_page=10&page=' + str(page) + '&sort=school.name'
    request_url = base_url + data_set + '&fields=' + ','.join(fields+cred_level) + options + api_key
    data = None
    try:
        data = requests.get(request_url).json()
    except:
        print('502 Error')
        request_url = base_url + data_set + '&fields=' + ','.join(fields) + options + api_key
        data = requests.get(request_url).json()
        error_list.append(data)

    
    for college in data['results']:
        try:
            colleges_dict[college['school.name']] = college
        except Exception as e:
            print(e)
            pass

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295
300
305
310
315
320
325
330
335
340
345
350
355
360
365
370
375
380
385
390
395
400
405
410
415
420
425
430
435
440
445
450
455
460
465
470
475
480
485
490
495
500
505
510
515
520
525
530
535
540
545
550
555
560
565
570
575
580
585
590
595
600
605
610
615
620
625
630
635
640
645
650
655

In [63]:
data

{'metadata': {'page': 659, 'total': 6543, 'per_page': 10}, 'results': []}

In [59]:
colleges_dict['Amherst College']

{'latest.school.operating': 1,
 'latest.admissions.admission_rate.overall': 0.0874,
 'latest.student.size': 1971,
 'latest.student.demographics.men': 0.4855,
 'latest.student.demographics.women': 0.5145,
 'latest.cost.tuition.in_state': 61150,
 'latest.cost.tuition.out_of_state': 61150,
 'latest.cost.attendance.academic_year': 77411,
 'latest.cost.attendance.program_year': None,
 'latest.student.demographics.race_ethnicity.white': 0.3876,
 'latest.student.demographics.race_ethnicity.black': 0.103,
 'latest.student.demographics.race_ethnicity.hispanic': 0.1542,
 'latest.student.demographics.race_ethnicity.asian': 0.1517,
 'latest.student.demographics.race_ethnicity.aian': 0.0025,
 'latest.student.demographics.race_ethnicity.nhpi': 0.002,
 'latest.student.demographics.race_ethnicity.unknown': 0.0203,
 'latest.admissions.sat_scores.average.overall': 1469,
 'latest.admissions.act_scores.midpoint.cumulative': 33,
 'latest.earnings.1_yr_after_completion.median': 43914,
 'latest.earnings.4_yrs_after_completion.median': 70140,
 'latest.student.retention_rate.four_year.full_time': 0.9793,
 'latest.student.retention_rate.lt_four_year.full_time': None,
 'latest.student.retention_rate.four_year.part_time': None,
 'latest.student.retention_rate.lt_four_year.part_time': None,
 'latest.student.retention_rate.four_year.full_time_pooled': 0.9458,
 'latest.student.retention_rate.lt_four_year.full_time_pooled': None,
 'latest.student.retention_rate.four_year.part_time_pooled': None,
 'latest.student.retention_rate.lt_four_year.part_time_pooled': None,
 'latest.student.retention_rate.cohort.four_year.full_time_pooled': 904,
 'latest.student.retention_rate.cohort.lt_four_year.full_time_pooled': None,
 'latest.student.retention_rate.cohort.four_year.part_time_pooled': None,
 'latest.student.retention_rate.cohort.lt_four_year.part_time_pooled': None,
 'latest.student.retention_rate.pooled_yrs_used.full_time': 2,
 'latest.student.retention_rate.pooled_yrs_used.part_time': None,
 'latest.student.retention_rate_suppressed.four_year.full_time_pooled': 0.9458,
 'latest.student.retention_rate_suppressed.lt_four_year.full_time_pooled': None,
 'latest.student.retention_rate_suppressed.four_year.part_time_pooled': None,
 'latest.student.retention_rate_suppressed.lt_four_year.part_time_pooled': None,
 'latest.student.retention_rate.overall.full_time': 0.9793,
 'latest.academics.program_percentage.agriculture': 0,
 'latest.academics.program_percentage.resources': 0.0253,
 'latest.academics.program_percentage.architecture': 0.0051,
 'latest.academics.program_percentage.ethnic_cultural_gender': 0.043,
 'latest.academics.program_percentage.communication': 0,
 'latest.academics.program_percentage.communications_technology': 0,
 'latest.academics.program_percentage.computer': 0.0759,
 'latest.academics.program_percentage.personal_culinary': 0,
 'latest.academics.program_percentage.education': 0,
 'latest.academics.program_percentage.engineering': 0,
 'latest.academics.program_percentage.engineering_technology': 0,
 'latest.academics.program_percentage.language': 0.0329,
 'latest.academics.program_percentage.family_consumer_science': 0,
 'latest.academics.program_percentage.legal': 0.0481,
 'latest.academics.program_percentage.english': 0.0456,
 'latest.academics.program_percentage.humanities': 0,
 'latest.academics.program_percentage.library': 0,
 'latest.academics.program_percentage.biological': 0.1392,
 'latest.academics.program_percentage.mathematics': 0.1367,
 'latest.academics.program_percentage.military': 0,
 'latest.academics.program_percentage.multidiscipline': 0.0025,
 'latest.academics.program_percentage.parks_recreation_fitness': 0,
 'latest.academics.program_percentage.philosophy_religious': 0.0127,
 'latest.academics.program_percentage.theology_religious_vocation': 0,
 'latest.academics.program_percentage.physical_science': 0.0684,
 'latest.academics.program_percentage.science_technology': 0,
 'latest.academics.program_percentage.psychology': 0.0785,
 'latest.academics.program_percentage.security_law_enforcement': 0,
 'latest.academics.program_percentage.public_administration_social_service': 0,
 'latest.academics.program_percentage.social_science': 0.1975,
 'latest.academics.program_percentage.construction': 0,
 'latest.academics.program_percentage.mechanic_repair_technology': 0,
 'latest.academics.program_percentage.precision_production': 0,
 'latest.academics.program_percentage.transportation': 0,
 'latest.academics.program_percentage.visual_performing': 0.0329,
 'latest.academics.program_percentage.health': 0,
 'latest.academics.program_percentage.business_marketing': 0,
 'latest.academics.program_percentage.history': 0.0557,
 'latest.academics.program.assoc.agriculture': 0,
 'latest.academics.program.assoc.resources': 0,
 'latest.academics.program.assoc.architecture': 0,
 'latest.academics.program.assoc.ethnic_cultural_gender': 0,
 'latest.academics.program.assoc.communication': 0,
 'latest.academics.program.assoc.communications_technology': 0,
 'latest.academics.program.assoc.computer': 0,
 'latest.academics.program.assoc.personal_culinary': 0,
 'latest.academics.program.assoc.education': 0,
 'latest.academics.program.assoc.engineering': 0,
 'latest.academics.program.assoc.engineering_technology': 0,
 'latest.academics.program.assoc.language': 0,
 'latest.academics.program.assoc.family_consumer_science': 0,
 'latest.academics.program.assoc.legal': 0,
 'latest.academics.program.assoc.english': 0,
 'latest.academics.program.assoc.humanities': 0,
 'latest.academics.program.assoc.library': 0,
 'latest.academics.program.assoc.biological': 0,
 'latest.academics.program.assoc.mathematics': 0,
 'latest.academics.program.assoc.military': 0,
 'latest.academics.program.assoc.multidiscipline': 0,
 'latest.academics.program.assoc.parks_recreation_fitness': 0,
 'latest.academics.program.assoc.philosophy_religious': 0,
 'latest.academics.program.assoc.theology_religious_vocation': 0,
 'latest.academics.program.assoc.physical_science': 0,
 'latest.academics.program.assoc.science_technology': 0,
 'latest.academics.program.assoc.psychology': 0,
 'latest.academics.program.assoc.security_law_enforcement': 0,
 'latest.academics.program.assoc.public_administration_social_service': 0,
 'latest.academics.program.assoc.social_science': 0,
 'latest.academics.program.assoc.construction': 0,
 'latest.academics.program.assoc.mechanic_repair_technology': 0,
 'latest.academics.program.assoc.precision_production': 0,
 'latest.academics.program.assoc.transportation': 0,
 'latest.academics.program.assoc.visual_performing': 0,
 'latest.academics.program.assoc.health': 0,
 'latest.academics.program.assoc.business_marketing': 0,
 'latest.academics.program.assoc.history': 0,
 'latest.programs.cip_4_digit': [{'title': 'Natural Resources Conservation and Research.',
   'credential': {'level': 3}},
  {'title': 'Architectural History and Criticism.',
   'credential': {'level': 3}},
  {'title': 'Area Studies.', 'credential': {'level': 3}},
  {'title': 'Ethnic, Cultural Minority, Gender, and Group Studies.',
   'credential': {'level': 3}},
  {'title': 'Computer Science.', 'credential': {'level': 3}},
  {'title': 'Slavic, Baltic and Albanian Languages, Literatures, and Linguistics.',
   'credential': {'level': 3}},
  {'title': 'Germanic Languages, Literatures, and Linguistics.',
   'credential': {'level': 3}},
  {'title': 'Romance Languages, Literatures, and Linguistics.',
   'credential': {'level': 3}},
  {'title': 'Classics and Classical Languages, Literatures, and Linguistics.',
   'credential': {'level': 3}},
  {'title': 'Legal Research and Advanced Professional Studies.',
   'credential': {'level': 3}},
  {'title': 'English Language and Literature, General.',
   'credential': {'level': 3}},
  {'title': 'Biology, General.', 'credential': {'level': 3}},
  {'title': 'Biochemistry, Biophysics and Molecular Biology.',
   'credential': {'level': 3}},
  {'title': 'Neurobiology and Neurosciences.', 'credential': {'level': 3}},
  {'title': 'Mathematics.', 'credential': {'level': 3}},
  {'title': 'Statistics.', 'credential': {'level': 3}},
  {'title': 'Multi/Interdisciplinary Studies, Other.',
   'credential': {'level': 3}},
  {'title': 'Philosophy.', 'credential': {'level': 3}},
  {'title': 'Religion/Religious Studies.', 'credential': {'level': 3}},
  {'title': 'Astronomy and Astrophysics.', 'credential': {'level': 3}},
  {'title': 'Chemistry.', 'credential': {'level': 3}},
  {'title': 'Geological and Earth Sciences/Geosciences.',
   'credential': {'level': 3}},
  {'title': 'Physics.', 'credential': {'level': 3}},
  {'title': 'Psychology, General.', 'credential': {'level': 3}},
  {'title': 'Research and Experimental Psychology.',
   'credential': {'level': 3}},
  {'title': 'Social Sciences, General.', 'credential': {'level': 3}},
  {'title': 'Anthropology.', 'credential': {'level': 3}},
  {'title': 'Economics.', 'credential': {'level': 3}},
  {'title': 'Political Science and Government.', 'credential': {'level': 3}},
  {'title': 'Sociology.', 'credential': {'level': 3}},
  {'title': 'Drama/Theatre Arts and Stagecraft.', 'credential': {'level': 3}},
  {'title': 'Film/Video and Photographic Arts.', 'credential': {'level': 3}},
  {'title': 'Fine and Studio Arts.', 'credential': {'level': 3}},
  {'title': 'Music.', 'credential': {'level': 3}},
  {'title': 'History.', 'credential': {'level': 3}}],
 'school.name': 'Amherst College',
 'school.address': 'Boltwood Avenue',
 'location.lat': 42.372459,
 'location.lon': -72.518493}

In [67]:
data_frame = pd.DataFrame.from_dict(colleges_dict,orient='index')
data_frame.loc['University of Arizona']

latest.school.operating                                                                     1
latest.admissions.admission_rate.overall                                               0.8727
latest.student.size                                                                   36560.0
latest.student.demographics.men                                                        0.4398
latest.student.demographics.women                                                      0.5602
                                                                  ...
latest.programs.cip_4_digit                 [{'title': 'Agriculture, General.', 'credentia...
school.name                                                             University of Arizona
school.address                                                         1401 E University Blvd
location.lat                                                                        32.232672
location.lon                                                                      -110.950815
Name: University of Arizona, Length: 120, dtype: object

In [69]:
data_frame.to_csv('gov_data_all.csv', index = True, index_label = True)

In [42]:
error_list

[]

In [90]:
arr = []
for key in colleges_dict:
    print(colleges_dict[key]['latest.programs.cip_4_digit'])


colleges_dict

{}

#####

In [5]:
df = pd.read_csv('all_data.csv', header = 0)

In [ ]:
copy = colleges_dict.copy()
new = {}
for key in copy.keys():
    d = {}
    keys = list(copy[key].keys())
    keys[0] = 'Sat Avg'
    keys[1] = 'Act Avg'
    keys[2] = 'Median 1 Year Salary'
    keys[3] = 'Median 4 Year Salary'
    for i in range(4, len(keys)-1):
        keys[i] = keys[i].split('.')[2:]
        if keys[i][0] == 'program_percentage':
            keys[i] = keys[i][1]
        else:
            keys[i] = ' '.join(keys[i][1:])
    keys = keys[:-1]
    vals = list(copy[key].values())
    for i in range(len(keys)):
        d[keys[i]] = vals[i]
    new[key.lower()] = d

In [6]:
gov_dict = {}

for key, val in new.items():
    if '-' in key:
        key = key.replace('-', ' ')
    if '&' in key:
        key = key.replace('& ', '')
    gov_dict[key] = val

In [7]:
name_list = df['Name'].tolist() # from CSV
not_found_list = []   # items from CSV not in the gov data
count = 0
for name in name_list:
    if name not in gov_dict:
        gov_name = None
        temp = name.split()
            
        if len(temp[-1]) == len(temp[:-1]):
            gov_name = ' '.join(temp[:-1])
        
        not_found_list.append((name,gov_name))  # creates tuple: (CSV Name, Gov Name)


for i in range(len(not_found_list)):
    pair = not_found_list[i]
    if 'alabama a m' in pair[0]:
        not_found_list[i] = (pair[0], 'alabama a m university')
    if 'florida a m' in pair[0]:
        not_found_list[i] = (pair[0], 'florida agricultural and mechanical university')
    if not_found_list[i][1] in gov_dict.keys():
        count += 1
len(not_found_list) - count

430

In [9]:
not_in_gov = []
for j in range(len(not_found_list)):
    pair = not_found_list[j]
    if not pair[1]:
        print(pair[0])
        temp = difflib.get_close_matches(pair[0], list(gov_dict.keys()))
        for i in range(len(temp)):
            print(f'{i}: {temp[i]}', end = ' | ')
        inp = input()
        if inp != '':
            print(temp[int(inp)])
            not_found_list[j] = (pair[0], temp[int(inp)])
        else:
            not_in_gov.append(not_found_list[j])
        print('\n'*3)

american university in bulgaria
0: american university | 1: american university of puerto rico | 2: national american university kings bay |

american university of puerto rico bayamon
0: inter american university of puerto rico bayamon | 1: american university of puerto rico | 2: university of puerto rico bayamon |

american university of puerto rico manati
0: american university of puerto rico | 1: edp university of puerto rico manati | 2: inter american university of puerto rico metro |

anderson university indiana
0: anderson university | 1: chamberlain university indiana | 2: devry university virginia |

anderson university south carolina
0: strayer university south carolina | 1: devry university north carolina | 2: strayer university north carolina |

anglo american university
0: north american university | 1: american university | 2: angelo state university |

arkansas state university main campus
0: oklahoma state university main campus | 1: arkansas state university mountain home | 2: wright state university main campus |

art institute of atlanta
0: the art institute of atlanta | 1: the art institute of austin | 2: asher institute of hampton |

 0

the art institute of atlanta




art institute of houston
0: the art institute of houston | 1: vet tech institute of houston | 2: the art institute of austin |

 0

the art institute of houston




artcenter college of design artcenter
0: art center college of design | 1: the college of westchester | 2: college of hair design careers |

 0

art center college of design




baldwin wallace university bw
0: baldwin wallace university | 1: walla walla university | 2: la salle university |

 0

baldwin wallace university




baptist memorial college of health sciences
0: american college of healthcare sciences | 1: mercy college of health sciences | 2: bryan college of health sciences |

 0

american college of healthcare sciences




baruch college cuny baruch
0: north west college long beach | 1: bard college   bhsec newark | 2: tucson college of beauty |

 0

north west college long beach




benjamin franklin institute of technology
0: benjamin franklin cummings institute of technology | 1: pennsylvania institute of technology | 2: indiana institute of technology |

 0

benjamin franklin cummings institute of technology




berklee college of music berklee
0: berklee college of music | 1: baker college of muskegon | 2: vandercook college of music |

 0

berklee college of music




bethany college kansas
0: bethany college | 1: central christian college of kansas | 2: delta college inc |

bethany college west virginia
0: uei college west covina | 1: bethany college | 2: north west college west covina |

bethel college indiana
0: the college of idaho | 1: bethlehem college seminary | 2: fortis college indianapolis |

bethel university minnesota
0: bethel university | 1: rasmussen university minnesota | 2: the university of tampa |

 0

bethel university




bethel university tennessee
0: strayer university tennessee | 1: devry university tennessee | 2: the university of tennessee martin |

blinn college
0: bellin college | 1: oberlin college | 2: lincoln college |

bloomfield college of montclair state university
0: great falls college montana state university | 1: montclair state university | 2: city college montana state university billings |

bloomsburg university bloomu
0: bloomsburg university of pennsylvania | 1: woodbury university | 2: augsburg university |

 0

bloomsburg university of pennsylvania




blue ridge community college north carolina
0: blue ridge community college | 1: laurel ridge community college | 2: bergen community college |

 0

blue ridge community college




blue ridge community college virginia
0: blue ridge community college | 1: laurel ridge community college | 2: bergen community college |

brooklyn college
0: cuny brooklyn college | 1: boston college | 2: barton college |

bryan university arizona
0: devry university arizona | 1: university of arizona | 2: bryan university |

bryan university missouri
0: devry university missouri | 1: chamberlain university missouri | 2: bryan university |

bryant and stratton college albany
0: bryant stratton college albany | 1: bryant stratton college solon | 2: bryant stratton college parma |

 0

bryant stratton college albany




bryant and stratton college buffalo
0: bryant stratton college buffalo | 1: bryant stratton college solon | 2: bryant stratton college akron |

 0

bryant stratton college buffalo




bryant and stratton college greece
0: bryant stratton college greece | 1: bryant stratton college racine | 2: bryant stratton college syracuse |

 0

bryant stratton college greece




bryant and stratton college parma
0: bryant stratton college parma | 1: bryant stratton college akron | 2: bryant stratton college racine |

 0

bryant stratton college parma




california college of the arts cca
0: california college of the arts | 1: cornish college of the arts | 2: california college of music |

 0

california college of the arts




california institute of technology caltech
0: california institute of technology | 1: california institute of arts technology | 2: southern california institute of technology |

 0

california institute of technology




california institute of the arts cal arts
0: california institute of the arts | 1: california institute of integral studies | 2: california institute of medical science |

 0

california institute of the arts




california polytechnic state university cal poly
0: california polytechnic state university san luis obispo | 1: california state polytechnic university pomona | 2: california state polytechnic university humboldt |

 0

california polytechnic state university san luis obispo




california state polytechnic university pomona cal poly pomona
0: california state polytechnic university pomona | 1: california state polytechnic university humboldt | 2: california state university monterey bay |

 0

california state polytechnic university pomona




california state university east bay csu east bay
0: california state university east bay | 1: california state university stanislaus | 2: california state university san marcos |

 0

california state university east bay




california state university fresno csu fresno
0: california state university fresno | 1: california state university sacramento | 2: california state university stanislaus |

 0

california state university fresno




california state university fullerton csu fullerton
0: california state university fullerton | 1: california state university fresno | 2: california state university long beach |

 0

california state university fullerton




california state university long beach long beach state
0: california state university long beach | 1: california state university los angeles | 2: california state university east bay |

 0

california state university long beach




california state university los angeles cal state la
0: california state university los angeles | 1: california state university long beach | 2: california state university east bay |

 0

california state university los angeles




catholic university of america cua
0: the catholic university of america | 1: soka university of america | 2: fairfax university of america |

 0

the catholic university of america




cayuga community college
0: kauai community college | 1: nashua community college | 2: cayuga county community college |

 2

cayuga county community college




christ college of nursing and health sciences
0: the christ college of nursing and health sciences | 1: aultman college of nursing and health sciences | 2: trinity college of nursing health sciences |

 0

the christ college of nursing and health sciences




city college of new york ccny
0: devry college of new york | 1: metropolitan college of new york | 2: the college of new jersey |

clayton state university
0: clayton  state university | 1: wayne state university | 2: tarleton state university |

 0

clayton  state university




coastal carolina university coastal
0: coastal carolina university | 1: east carolina university | 2: coastal carolina community college |

 0

coastal carolina university




college of charleston south carolina
0: college of charleston | 1: college of hair design east campus | 2: college of southern maryland |

 0

college of charleston




college of idaho
0: the college of idaho | 1: college of western idaho | 2: college of eastern idaho |

 0

the college of idaho




college of saint elizabeth
0: college of saint benedict | 1: college of saint mary | 2: college of san mateo |

college of saint rose
0: the college of saint rose | 1: college of saint mary | 2: college of saint benedict |

 0

the college of saint rose




college of saint scholastica
0: the college of saint scholastica | 1: college of saint mary | 2: the college of saint rose |

 0

the college of saint scholastica




college of st benedict csb
0: college of saint benedict | 1: college of the canyons | 2: college of staten island cuny |

 0

college of saint benedict




college of the atlantic coa
0: college of the atlantic | 1: college of the mainland | 2: college of the canyons |

 0

college of the atlantic




college of the holy cross holy cross
0: college of the holy cross | 1: college of the siskiyous | 2: college of the marshall islands |

 0

college of the holy cross




college of westchester
0: the college of westchester | 1: college of the desert | 2: college of western idaho |

 0

the college of westchester




college of william mary william mary

college of wooster
0: the college of wooster | 1: college of western idaho | 2: college of san mateo |

 0

the college of wooster




college university
0: colgate university | 1: lee university | 2: cornell university |

colorado school of mines mines
0: colorado school of mines | 1: colorado school of trades | 2: colorado school of healing arts |

 0

colorado school of mines




columbia college missouri
0: columbia college   mesquite | 1: columbia college   lemoore | 2: columbia college |

columbia college south carolina
0: columbia college   rolla | 1: columbia college chicago | 2: columbia college   elgin |

columbia university
0: carolina university | 1: corban university | 2: columbus state university |

concordia college minnesota
0: concorde career college southaven | 1: columbia college   minot afb | 2: concorde career college memphis |

conservatory of music of puerto rico
0: puerto rico conservatory of music | 1: universal technology college of puerto rico |

 0

puerto rico conservatory of music




cooper union

crowley s ridge college
0: crowley's ridge college | 1: crowder college | 2: clary sage college |

 0

crowley's ridge college




d youville university
0: d'youville  university | 1: cedarville university | 2: medaille university |

 0

d'youville  university




dabney s lancaster community college
0: manchester community college | 1: alamance community college | 2: suny westchester community college |

davis and elkins college
0: davis elkins college | 1: davis college | 2: diamonds college |

 0

davis elkins college




davis college new york
0: devry college of new york | 1: davis college | 2: berkeley college new york |

davis college ohio
0: davis college | 1: davidson college | 2: caris college |

dixie state university
0: delta state university | 1: bowie state university | 2: boise state university |

doane university arts and sciences
0: sonoran university of health sciences | 1: roseman university of health sciences | 2: joyce university of nursing and health sciences |

dominican college of blauvelt
0: michigan college of beauty troy | 1: american college of barbering | 2: waynes college of beauty |

dordt college
0: oxnard college | 1: morton college | 2: howard college |

edward waters college
0: ridgewater college | 1: cedar crest college | 2: bridgewater college |

elizabethtown college e town
0: elizabethtown college | 1: leston college   | 2: saint elizabeth college of nursing |

 0

elizabethtown college




elms college
0: helms college | 1: wells college | 2: lim college |

embry riddle aeronautical university
0: embry riddle aeronautical university prescott | 1: embry riddle aeronautical university worldwide | 2: embry riddle aeronautical university daytona beach |

emmanuel college massachusetts
0: wheaton college (massachusetts) | 1: emmanuel college | 2: cem college mayaguez |

 1

emmanuel college




emory and henry college
0: emory henry college | 1: le moyne owen college | 2: le moyne college |

 0

emory henry college




evergreen state college
0: the evergreen state college | 1: evergreen valley college | 2: keene state college |

 0

the evergreen state college




fidm fashion institute of design and merchandising los angeles
0: fidm fashion institute of design merchandising | 1: fashion institute of technology |

 0

fidm fashion institute of design merchandising




florida institute of technology florida tech
0: florida institute of technology online | 1: florida institute of technology | 2: south florida institute of technology |

 1

florida institute of technology




franklin and marshall college f m
0: franklin and marshall college | 1: anna maria college | 2: franklin college |

 0

franklin and marshall college




franklin w olin college of engineering olin
0: franklin w olin college of engineering | 1: lincoln college of technology indianapolis | 2: arizona college of nursing tucson |

 0

franklin w olin college of engineering




gateway community college arizona
0: gateway community college | 1: gateway community college central city | 2: southeast community college area |

gateway community college connecticut
0: gateway community college central city | 1: gateway community college | 2: eastern iowa community college district |

george washington university gw
0: george washington university | 1: george mason university | 2: western washington university |

 0

george washington university




georgia college gcsu
0: georgia college state university | 1: florida college | 2: boricua college |

 0

georgia college state university




georgia institute of technology georgia tech
0: georgia institute of technology main campus | 1: erie institute of technology inc | 2: florida institute of technology online |

 0

georgia institute of technology main campus




glendale community college arizona
0: glendale community college | 1: glen oaks community college | 2: luna community college |

 0

glendale community college




glendale community college california
0: glendale community college | 1: glen oaks community college | 2: luna community college |

goodwin college
0: gordon college | 1: hood college | 2: dine college |

hampden sydney college h sc
0: hampden sydney college | 1: camden county college | 2: jamestown business college   |

 0

hampden sydney college




highland community college illinois
0: highland community college | 1: richland community college | 2: hinds community college |

highland community college kansas
0: highland community college | 1: richland community college | 2: hinds community college |

hobart and william smith colleges hws
0: hobart william smith colleges | 1: heartland community college | 2: williams college |

 0

hobart william smith colleges




houston christian university
0: ohio christian university | 1: louisiana christian university | 2: southwestern christian university |

hunter college cuny hunter
0: the college of wooster | 1: uei college ontario | 2: cuny hunter college |

illinois institute of technology illinois tech
0: illinois institute of technology | 1: florida institute of technology online | 2: erie institute of technology inc |

 0

illinois institute of technology




indiana university bloomington indiana
0: indiana university bloomington | 1: indiana university kokomo | 2: indiana university south bend |

 0

indiana university bloomington




indiana university northwest iu northwest
0: indiana university northwest | 1: indiana university southeast | 2: indiana university east |

 0

indiana university northwest




indiana university of pennsylvania iup
0: indiana university of pennsylvania main campus | 1: edinboro university of pennsylvania | 2: university of pennsylvania |

 0

indiana university of pennsylvania main campus




james a rhodes state college
0: james a. rhodes state college | 1: rose state college | 2: stark state college |

 0

james a. rhodes state college




jarvis christian college
0: ozark christian college | 1: carolina christian college | 2: kansas christian college |

jessup university
0: ecpi university | 1: william jessup university | 2: messiah university |

johnson and wales university charlotte
0: johnson wales university charlotte | 1: johnson wales university online | 2: johnson wales university providence |

 0

johnson wales university charlotte




johnson and wales university providence
0: johnson wales university providence | 1: johnson wales university online | 2: johnson wales university charlotte |

 0

johnson wales university providence




juilliard school
0: the juilliard school | 1: illinois media school | 2: ukiah adult school |

 0

the juilliard school




kent state university
0: kentucky state university | 1: central state university | 2: minot state university |

king university tennessee
0: devry university tennessee | 1: strayer university tennessee | 2: king university |

 2

king university




kings college london
0: king's college | 1: fortis college landover | 2: hocking college |

 0

king's college




kings college new york
0: berkeley college new york | 1: devry college of new york | 2: king's college |

kings college pennsylvania
0: york college of pennsylvania | 1: ross college sylvania | 2: king's college |

kings university texas
0: king university | 1: strayer university texas | 2: devry university texas |

laboure college
0: tabor college | 1: laurus college | 2: laredo college |

lac courte oreilles ojibwe college
0: lac courte oreilles ojibwe university | 1: porterville college | 2: lancaster bible college |

 0

lac courte oreilles ojibwe university




laguna college of art and design lcad
0: laguna college of art and design | 1: savannah college of art and design | 2: delaware college of art and design |

 0

laguna college of art and design




landing school
0: the landing school | 1: modern welding school | 2: edp school |

 0

the landing school




laurel technical institute hermitage
0: laurel technical institute | 1: lincoln technical institute new britain | 2: career technical institute |

 0

laurel technical institute




laurel technical institute meadville
0: laurel technical institute | 1: lincoln technical institute somerville | 2: career technical institute |

life pacific college
0: pacific college | 1: los angeles pacific college | 2: pacific oaks college |

lincoln university california
0: dominican university of california | 1: touro university california | 2: chamberlain university california |

lincoln university missouri
0: lincoln university | 1: chamberlain university missouri | 2: devry university missouri |

lincoln university pennsylvania
0: clarion university of pennsylvania | 1: california university of pennsylvania | 2: edinboro university of pennsylvania |

linfield college
0: springfield college | 1: bloomfield college | 2: mayfield college |

luther rice college and seminary
0: luther rice college seminary | 1: holy apostles college and seminary | 2: bethlehem college seminary |

 0

luther rice college seminary




magdalen college of the liberal arts
0: massachusetts college of liberal arts | 1: thomas more college of liberal arts | 2: american college of the building arts |

manchester community college connecticut
0: manchester community college | 1: austin community college district | 2: eastern iowa community college district |

 0

manchester community college




manchester community college new hampshire
0: manchester community college | 1: southeast community college area | 2: suny westchester community college |

marian university indiana
0: chamberlain university indiana | 1: marian university | 2: martin university |

 1

marian university




marian university wisconsin
0: rasmussen university wisconsin | 1: concordia university wisconsin | 2: marian university |

maryland institute college of art mica
0: maryland institute college of art | 1: maine college of art design | 2: rabbinical college of america |

 0

maryland institute college of art




maryville university
0: cedarville university | 1: medaille university | 2: mars hill university |

massachusetts college of pharmacy and health sciences mcphs
0: albany college of pharmacy and health sciences | 1: massachusetts college of art and design | 2: the christ college of nursing and health sciences |

massachusetts institute of technology mit
0: massachusetts institute of technology | 1: sae institute of technology miami | 2: ace institute of technology |

 0

massachusetts institute of technology




miami international university of art and design art institute dallas
0: miami international university of art design art institute dallas | 1: ai miami international university of art and design | 2: international culinary arts and sciences institute |

 0

miami international university of art design art institute dallas




miami university
0: midway university | 1: martin university | 2: marian university |

middlesex community college connecticut
0: middlesex community college | 1: miles community college | 2: wilkes community college |

 0

middlesex community college




middlesex community college massachusetts
0: middlesex community college | 1: miles community college | 2: wilkes community college |

millersville university
0: campbellsville university | 1: cedarville university | 2: medaille university |

mills college northeastern university
0: mills college at northeastern university | 1: northeastern university | 2: southeastern university |

 0

mills college at northeastern university




milwaukee institute of art and design
0: milwaukee institute of art design | 1: hawaii institute of hair design | 2: durant institute of hair design |

 0

milwaukee institute of art design




minnesota north college hibbing
0: minnesota north college | 1: minnesota north college   vermilion | 2: minnesota north college   itasca |

 0

minnesota north college




minnesota north college itasca
0: minnesota north college   itasca | 1: minnesota north college | 2: minnesota north college   vermilion |

 0

minnesota north college   itasca




minnesota north college mesabi range virginia
0: minnesota north college   mesabi range virginia | 1: minnesota north college   vermilion | 2: minnesota north college   rainy river |

 0

minnesota north college   mesabi range virginia




minnesota north college rainy river
0: minnesota north college   rainy river | 1: minnesota north college   vermilion | 2: minnesota north college |

 0

minnesota north college   rainy river




missouri university of science technology missouri s t
0: missouri university of science and technology | 1: harrisburg university of science and technology | 2: california university of science and medicine |

 0

missouri university of science and technology




modern college of design
0: the modern college of design | 1: model college of hair design | 2: maine college of art design |

 0

the modern college of design




molloy university
0: emory university | 1: malone university | 2: lesley university |

monmouth college illinois
0: monmouth college | 1: south college nashville | 2: south college asheville |

 0

monmouth college




monmouth university new jersey
0: strayer university new jersey | 1: monmouth university | 2: devry university new jersey |

montana tech of the university of montana montana tech
0: the university of montana western | 1: the university of montana | 2: helena college university of montana |

mount saint mary university
0: mount saint mary's university | 1: mount st. mary's university | 2: mount mary university |

mount st mary university
0: mount st. mary's university | 1: mount mary university | 2: mount marty university |

nazareth university
0: niagara university | 1: averett university | 2: lamar university |

nebraska methodist college of nursing and allied health
0: nebraska methodist college of nursing allied health | 1: westchester college of nursing allied health | 2: los angeles county college of nursing and allied health |

 0

nebraska methodist college of nursing allied health




new england conservatory of music
0: the new england conservatory of music | 1: puerto rico conservatory of music | 2: the recording conservatory of austin |

 0

the new england conservatory of music




new jersey institute of technology njit
0: new jersey institute of technology | 1: new york institute of technology | 2: erie institute of technology inc |

 0

new jersey institute of technology




new mexico institute of mining and technology new mexico tech
0: new mexico institute of mining and technology | 1: sae institute of technology new york | 2: new york institute of technology |

 0

new mexico institute of mining and technology




new school
0: the new school | 1: edp school | 2: stewart school |

 0

the new school




new york institute of technology nyit
0: new york institute of technology | 1: new jersey institute of technology | 2: erie institute of technology inc |

 0

new york institute of technology




nhti concord community college
0: nhti concord's community college | 1: mt hood community college | 2: hinds community college |

 0

nhti concord's community college




north carolina a t state university n c a t
0: north carolina a t state university | 1: north carolina state university at raleigh | 2: south carolina state university |

 0

north carolina a t state university




north coast college
0: the north coast college | 1: south coast college | 2: northwest college |

 0

the north coast college




northeastern oklahoma a and m college
0: northeastern oklahoma a&m college | 1: northern oklahoma college | 2: eastern oklahoma state college |

 0

northeastern oklahoma a&m college




northwest college of art and design
0: northwest college of art design | 1: otis college of art and design | 2: moore college of art and design |

 0

northwest college of art design




northwestern college illinois
0: northwestern college | 1: northwest college hillsboro | 2: northwest college tualatin |

ohio university
0: iona university | 1: johnson university | 2: union university |

ohio valley university
0: utah valley university | 1: ohio wesleyan university | 2: allen university |

oregon institute of technology oregon tech
0: oregon institute of technology | 1: morrison institute of technology | 2: erie institute of technology inc |

 0

oregon institute of technology




pacific college of health and science california
0: pacific college of health and science | 1: mayo clinic college of medicine and science   florida | 2: mayo clinic college of medicine and science   arizona |

 0

pacific college of health and science




pacific college of health and science new york
0: pacific college of health and science | 1: american college of healthcare sciences | 2: mercy college of health sciences |

pacific northwest college of art pnca
0: pacific northwest college of art | 1: northwest college of art design | 2: pacific northwest christian college |

 0

pacific northwest college of art




paul smiths college
0: smith college | 1: philander smith college | 2: paul quinn college |

penn commercial business technical school
0: penn commercial business/technical school | 1: clinton technical school | 2: upper cape cod regional technical school |

 0

penn commercial business/technical school




penn state brandywine

pennsylvania college of technology penn tech
0: pennsylvania college of technology | 1: pennsylvania college of health sciences | 2: suny college of technology at delhi |

 0

pennsylvania college of technology




pennsylvania state university penn state
0: pennsylvania state university penn state york | 1: pennsylvania state university penn state berks | 2: pennsylvania state university penn state dubois |

pennsylvania western university california
0: pennsylvania state university world campus | 1: pennsylvania state university penn state altoona | 2: pennsylvania state university dickinson law |

pennsylvania western university clarion
0: pennsylvania state university dickinson law | 1: the pennsylvania state university | 2: indiana wesleyan university marion |

pennwest edinboro

pierce college fort steilacoom
0: pierce college district | 1: interactive college of technology | 2: jersey college   fort wayne |

pikes peak community college
0: wilkes community college | 1: pima community college | 2: mesa community college |

pine technical and community college
0: pine technical community college | 1: springfield technical community college | 2: wake technical community college |

 0

pine technical community college




pratt institute
0: pratt institute main | 1: praxis institute | 2: abcott institute |

 0

pratt institute main




prince george community college
0: prince george's community college | 1: rogue community college | 2: patrick henry community college |

 0

prince george's community college




purdue university
0: duke university | 1: lourdes university | 2: rider university |

ramapo college of new jersey rcnj
0: ramapo college of new jersey | 1: the college of new jersey | 2: vermont college of fine arts |

 0

ramapo college of new jersey




regis college massachusetts
0: wheaton college (massachusetts) | 1: uei college sacramento | 2: uei college mesa |

rhode island school of design risd
0: rhode island school of design | 1: new england school of hair design | 2: rhode island college |

 0

rhode island school of design




robert morris university rmu pennsylvania
0: strayer university pennsylvania | 1: devry university pennsylvania | 2: robert morris university |

 2

robert morris university




rochester college
0: goucher college | 1: charter college | 2: southwestern college |

rochester institute of technology rit
0: rochester institute of technology | 1: ace institute of technology | 2: erie institute of technology inc |

 0

rochester institute of technology




rose hulman institute of technology rhit
0: rose hulman institute of technology | 1: lamar institute of technology | 2: sae institute of technology chicago |

 0

rose hulman institute of technology




rowan college south jersey cumberland campus
0: rowan college of south jersey cumberland campus | 1: rowan college of south jersey gloucester campus | 2: remington college cleveland campus |

 0

rowan college of south jersey cumberland campus




rutgers university new brunswick rutgers
0: rutgers university new brunswick | 1: rutgers university newark | 2: rutgers university camden |

 0

rutgers university new brunswick




saint augustine s university
0: saint augustine's university | 1: saint martin's university | 2: saint louis university |

 0

saint augustine's university




saint johns university minnesota
0: saint mary's university of minnesota | 1: saint johns university | 2: st. john's university new york |

 1

saint johns university




saint joseph college of maine
0: saint joseph's college of maine | 1: st. joseph's college of nursing | 2: saint mary's college of california |

 0

saint joseph's college of maine




saint martin s university st martin s
0: saint martin's university | 1: saint mary's university of minnesota | 2: saint augustine's university |

 0

saint martin's university




saint mary s college indiana
0: saint mary's college | 1: saint mary's college of california | 2: mount saint mary college |

 0

saint mary's college




saint mary s college of california st mary s
0: saint mary's college of california | 1: st. mary's college of maryland | 2: saint michael college of allied health |

 0

saint mary's college of california




saint mary university of minnesota
0: saint mary's university of minnesota | 1: university of minnesota morris | 2: university of minnesota duluth |

 0

saint mary's university of minnesota




saint peter university
0: saint peter's university | 1: saint leo university | 2: saint xavier university |

 0

saint peter's university




savannah college of art and design scad
0: savannah college of art and design | 1: laguna college of art and design | 2: pennsylvania college of art and design |

 0

savannah college of art and design




school of the art institute of chicago saic
0: school of the art institute of chicago | 1: the art institute of austin | 2: the art institute of houston |

 0

school of the art institute of chicago




schoolcraft college
0: st olaf college | 1: shorter college | 2: chipola college |

seminar l moros bais yaakov
0: seminar l'moros bais yaakov |

 0

seminar l'moros bais yaakov




sewanee the university of the south sewanee
0: the university of the south | 1: university of the southwest | 2: the university of tennessee southern |

 0

the university of the south




sh or yoshuv rabbinical college
0: sh'or yoshuv rabbinical college | 1: ner israel rabbinical college | 2: yeshiva of nitra rabbinical college |

 0

sh'or yoshuv rabbinical college




south hills school of business and technology
0: south hills school of business technology | 1: south hills school of business and technology altoona | 2: south dakota school of mines and technology |

 0

south hills school of business technology




southeast kentucky community and technical college
0: southeast kentucky community technical college | 1: southcentral kentucky community and technical college | 2: west kentucky community and technical college |

 0

southeast kentucky community technical college




southeastern community college iowa
0: southeastern community college | 1: southwestern community college | 2: southeast community college area |

 0

southeastern community college




southeastern community college north carolina
0: southeast community college area | 1: southeastern community college | 2: southwestern community college |

southern baptist theological seminary
0: the southern baptist theological seminary | 1: southeastern baptist theological seminary | 2: northern baptist theological seminary |

 0

the southern baptist theological seminary




southern illinois university carbondale siu
0: southern illinois university carbondale | 1: southern illinois university edwardsville | 2: northern illinois university |

 0

southern illinois university carbondale




southern university and a and m college
0: southern university and a m college | 1: southern university at new orleans | 2: southern university law center |

 0

southern university and a m college




southwest collegiate institute for the deaf
0: southwest college for the deaf | 1: southwest institute of healing arts | 2: northwest college medford |

 0

southwest college for the deaf




southwestern college california
0: southeastern college columbia | 1: southwestern college | 2: southeastern college charleston |

 1

southwestern college




southwestern college kansas
0: southwestern college | 1: southeastern college miami lakes | 2: northwestern college |

southwestern community college iowa
0: southwestern community college | 1: southeastern community college | 2: southeast community college area |

 0

southwestern community college




southwestern community college north carolina
0: southwestern community college | 1: southeast community college area | 2: southeastern community college |

spartan college of aeronautics and technology colorado
0: spartan college of aeronautics and technology | 1: spartan college of aeronautics technology | 2: vaughn college of aeronautics and technology |

spartan college of aeronautics and technology oklahoma
0: spartan college of aeronautics and technology | 1: spartan college of aeronautics technology | 2: vaughn college of aeronautics and technology |

st andrews university
0: st. andrews university | 1: andrews university | 2: drew university |

 0

st. andrews university




st augustine college
0: st. augustine college | 1: austin college | 2: augustana college |

 0

st. augustine college




st edward s university
0: saint edward's university | 1: edward waters university | 2: st. mary's university |

 0

saint edward's university




st francis college pennsylvania
0: york college of pennsylvania | 1: ross college sylvania | 2: st. francis college |

 2

st. francis college




st john fisher university
0: st. john fisher university | 1: saint johns university | 2: johnson university |

 0

st. john fisher university




st john s college sjc maryland
0: st. mary's college of maryland | 1: st. john vianney college seminary | 2: st. john's college |

st john s university new york
0: st. john's university new york | 1: st. joseph's university new york | 2: dominican university new york |

 0

st. john's university new york




st john vianney college seminary
0: st. john vianney college seminary | 1: san joaquin valley college madera | 2: san joaquin valley college ontario |

 0

st. john vianney college seminary




st joseph college of nursing
0: st. joseph's college of nursing | 1: st joseph school of nursing | 2: research college of nursing |

 0

st. joseph's college of nursing




st joseph s university sju
0: saint joseph's university | 1: st. joseph's university new york | 2: saint johns university |

 0

saint joseph's university




st louis college of pharmacy
0: appalachian college of pharmacy | 1: st louis college of health careers fenton | 2: san joaquin college of law |

st luke college
0: st luke's college | 1: st olaf college | 2: salem college |

 0

st luke's college




st mary s college of maryland
0: st. mary's college of maryland | 1: allegany college of maryland | 2: maria college of albany |

 0

st. mary's college of maryland




st mary s university texas
0: strayer university texas | 1: st. mary's university | 2: devry university texas |

st michael s college
0: saint michael's college | 1: mitchell college | 2: best care college |

 0

saint michael's college




st paul school of nursing queens
0: st paul's school of nursing queens | 1: st paul's school of nursing staten island | 2: st joseph school of nursing |

 0

st paul's school of nursing queens




st peter hospital college of nursing
0: st. peter's hospital college of nursing | 1: st lukes hospital school of nursing | 2: st. joseph's college of nursing |

 0

st. peter's hospital college of nursing




st philips college
0: st philip's college | 1: frank phillips college | 2: south plains college |

 0

st philip's college




st thomas aquinas college
0: st. thomas aquinas college | 1: thomas aquinas college | 2: aquinas college |

 0

st. thomas aquinas college




st thomas university
0: st. thomas university | 1: thomas university | 2: st. mary's university |

 0

st. thomas university




sterling college kansas
0: sterling college | 1: kettering college | 2: oberlin college |

sterling college vermont
0: sterling college | 1: kettering college | 2: oberlin college |

stevens the institute of business and arts
0: stevens the institute of business arts | 1: jna institute of culinary arts | 2: atlanta institute of music and media |

 0

stevens the institute of business arts




suny college at brockport
0: suny college at potsdam | 1: suny brockport | 2: suny college at geneseo |

 1

suny brockport




suny college at oswego
0: suny college at potsdam | 1: suny college at geneseo | 2: suny college at old westbury |

suny college of environmental science and forestry suny esf
0: suny college of environmental science and forestry | 1: aviator college of aeronautical science and technology |

 0

suny college of environmental science and forestry




suny empire state college
0: seminole state college | 1: prairie state college | 2: zane state college |

texas a and m international university
0: texas a m international university | 1: hope international university | 2: faith international university |

 0

texas a m international university




texas a and m university san antonio
0: texas a&m university san antonio | 1: strayer university san antonio | 2: ecpi university   san antonio |

 0

texas a&m university san antonio




texas a and m university texarkana
0: texas a&m university texarkana | 1: texas a m university commerce | 2: texas a m university kingsville |

 0

texas a&m university texarkana




texas a m university
0: west texas a m university | 1: texas state university | 2: texas tech university |

texas woman s university twu
0: texas woman's university | 1: texas wesleyan university | 2: texas state university |

 0

texas woman's university




the citadel the military college of south carolina the citadel
0: citadel military college of south carolina |

 0

citadel military college of south carolina




the college of new jersey tcnj
0: the college of new jersey | 1: ramapo college of new jersey | 2: the college of saint rose |

 0

the college of new jersey




the masters university and seminary
0: the master's university and seminary | 1: keiser university  miami | 2: kent state university at stark |

 0

the master's university and seminary




the state university of new york at albany suny albany
0: state university of new york at oswego | 1: state university of new york at new paltz | 2: the university of texas at dallas |

the state university of new york at binghamton suny binghamton
0: state university of new york at oswego | 1: state university of new york at new paltz |

the state university of new york at geneseo suny geneseo
0: state university of new york at oswego | 1: state university of new york at new paltz | 2: ohio state university newark campus |

the state university of new york at stony brook suny stony brook
0: state university of new york at oswego | 1: state university of new york at new paltz |

the state university of new york polytechnic institute suny poly
0: state university of new york at new paltz | 1: ohio state university agricultural technical institute | 2: state university of new york at oswego |

touro college
0: tabor college | 1: otero college | 2: norco college |

trine university regional non traditional campuses
0: trine university regional/non traditional campuses | 1: strayer university lithonia campus | 2: strayer university anne arundel campus |

 0

trine university regional/non traditional campuses




troy university alabama
0: strayer university alabama | 1: the university of alabama | 2: troy university |

tulane university
0: lander university | 1: trine university | 2: logan university |

ucl university college london
0: atlantic university college | 1: texas a m university college station | 2: university of puget sound |

union college kentucky
0: simmons college of kentucky | 1: union college | 2: uei college stockton |

union college nebraska
0: union college | 1: uei college mesa | 2: arizona college mesa |

union college new york
0: union college | 1: devry college of new york | 2: berkeley college new york |

union institute and university
0: union institute university | 1: long island university | 2: ohio christian university |

 0

union institute university




united states air force academy air force
0: united states air force academy | 1: united states sports academy | 2: united states naval academy |

 0

united states air force academy




united states coast guard academy coast guard
0: united states coast guard academy | 1: united states merchant marine academy | 2: united states naval academy |

 0

united states coast guard academy




universidad ana g mendez carolina campus
0: universidad ana g. mendez carolina campus | 1: universidad ana g. mendez gurabo campus | 2: universidad ana g. mendez cupey campus |

 0

universidad ana g. mendez carolina campus




universidad ana g mendez cupey campus
0: universidad ana g. mendez cupey campus | 1: universidad ana g. mendez gurabo campus | 2: universidad ana g. mendez carolina campus |

 0

universidad ana g. mendez cupey campus




universidad ana g mendez gurabo campus
0: universidad ana g. mendez gurabo campus | 1: universidad ana g. mendez cupey campus | 2: universidad ana g. mendez carolina campus |

 0

universidad ana g. mendez gurabo campus




university of akron
0: university of arizona | 1: university of oregon | 2: university of dayton |

university of alabama
0: the university of alabama | 1: university of west alabama | 2: university of south alabama |

 0

the university of alabama




university of alabama at birmingham uab
0: university of alabama at birmingham | 1: university of alabama in huntsville | 2: university of maine at farmington |

 0

university of alabama at birmingham




university of alabama in huntsville uah
0: university of alabama in huntsville | 1: university of alabama at birmingham | 2: university of louisville |

 0

university of alabama in huntsville




university of alaska fairbanks uaf
0: university of alaska fairbanks | 1: university of alaska southeast | 2: university of alaska anchorage |

 0

university of alaska fairbanks




university of arkansas at little rock ua little rock
0: university of arkansas at little rock | 1: university of arkansas at pine bluff | 2: university of arkansas at monticello |

 0

university of arkansas at little rock




university of california berkeley uc berkeley
0: university of california berkeley | 1: university of california merced | 2: university of california irvine |

 0

university of california berkeley




university of california irvine uc irvine
0: university of california irvine | 1: university of california merced | 2: university of california san diego |

 0

university of california irvine




university of california los angeles ucla
0: university of california los angeles | 1: university of california san diego | 2: university of california santa cruz |

 0

university of california los angeles




university of california merced uc merced
0: university of california merced | 1: university of california berkeley | 2: university of california riverside |

 0

university of california merced




university of california riverside uc riverside
0: university of california riverside | 1: university of california merced | 2: university of california irvine |

 0

university of california riverside




university of california san diego ucsd
0: university of california san diego | 1: university of california davis | 2: university of california santa cruz |

 0

university of california san diego




university of california santa barbara ucsb
0: university of california santa barbara | 1: university of california santa cruz | 2: university of california san francisco |

 0

university of california santa barbara




university of california santa cruz ucsc
0: university of california santa cruz | 1: university of california san francisco | 2: university of california santa barbara |

 0

university of california santa cruz




university of central florida ucf
0: university of central florida | 1: university of north florida | 2: university of central missouri |

 0

university of central florida




university of charleston west virginia
0: university of charleston | 1: university of east west medicine | 2: university of houston victoria |

 0

university of charleston




university of cincinnati
0: university of indianapolis | 1: university of cincinnati main campus | 2: university of chicago |

 1

university of cincinnati main campus




university of colorado boulder cu boulder
0: university of colorado boulder | 1: university of colorado colorado springs | 2: university of california merced |

 0

university of colorado boulder




university of colorado denver cu denver
0: university of colorado boulder | 1: university of la verne | 2: university of colorado denver/anschutz medical campus |

 2

university of colorado denver/anschutz medical campus




university of connecticut uconn
0: university of connecticut | 1: university of connecticut stamford | 2: university of connecticut avery point |

 0

university of connecticut




university of findlay
0: the university of findlay | 1: university of idaho | 2: university of dayton |

 0

the university of findlay




university of hawaii at manoa uh manoa
0: university of hawaii at manoa | 1: university of hawaii at hilo | 2: university of hawaii west oahu |

 0

university of hawaii at manoa




university of illinois at chicago uic
0: university of illinois chicago | 1: university of illinois urbana champaign | 2: university of illinois springfield |

 0

university of illinois chicago




university of illinois at springfield
0: university of illinois springfield | 1: university of illinois chicago | 2: university of west los angeles |

 0

university of illinois springfield




university of illinois at urbana champaign uiuc
0: university of illinois urbana champaign | 1: university of illinois chicago | 2: university of illinois springfield |

 0

university of illinois urbana champaign




university of louisiana at lafayette ul lafayette
0: university of louisiana at lafayette | 1: university of louisiana at monroe | 2: university of louisville |

 0

university of louisiana at lafayette




university of louisiana at monroe ulm
0: university of louisiana at monroe | 1: university of louisiana at lafayette | 2: university of arkansas at monticello |

 0

university of louisiana at monroe




university of maine at farmington umf
0: university of maine at farmington | 1: university of maine at fort kent | 2: university of maine at augusta |

 0

university of maine at farmington




university of maine at machias
0: university of maine   machias | 1: university of maine at augusta | 2: university of maine at farmington |

 0

university of maine   machias




university of maryland baltimore county umbc
0: university of maryland baltimore county | 1: university of maryland baltimore | 2: university of maryland global campus |

 0

university of maryland baltimore county




university of maryland college park maryland
0: university of maryland college park | 1: university of maryland eastern shore | 2: university of arkansas community college morrilton |

 0

university of maryland college park




university of maryland eastern shore umes
0: university of maryland eastern shore | 1: university of maryland baltimore | 2: university of maryland baltimore county |

 0

university of maryland eastern shore




university of massachusetts amherst umass amherst
0: university of massachusetts amherst | 1: university of massachusetts dartmouth | 2: university of massachusetts boston |

 0

university of massachusetts amherst




university of massachusetts boston umass boston
0: university of massachusetts boston | 1: university of massachusetts chan medical school | 2: university of massachusetts global |

 0

university of massachusetts boston




university of massachusetts dartmouth umass dartmouth
0: university of massachusetts dartmouth | 1: university of massachusetts amherst | 2: university of massachusetts boston |

 0

university of massachusetts dartmouth




university of massachusetts lowell umass lowell
0: university of massachusetts lowell | 1: university of massachusetts global | 2: university of massachusetts boston |

 0

university of massachusetts lowell




university of michigan
0: university of michigan flint | 1: university of chicago | 2: university of michigan dearborn |

 0

university of michigan flint




university of minnesota duluth umd
0: university of minnesota duluth | 1: university of minnesota morris | 2: university of minnesota twin cities |

 0

university of minnesota duluth




university of minnesota twin cities minnesota
0: university of minnesota twin cities | 1: university of minnesota rochester | 2: university of minnesota morris |

 0

university of minnesota twin cities




university of missouri kansas city umkc
0: university of missouri kansas city | 1: university of missouri st louis | 2: university of missouri columbia |

 0

university of missouri kansas city




university of missouri mizzou
0: university of missouri st louis | 1: university of missouri columbia | 2: university of missouri kansas city |

 0

university of missouri st louis




university of missouri st louis umsl
0: university of missouri st louis | 1: university of missouri columbia | 2: university of missouri kansas city |

 0

university of missouri st louis




university of montana
0: the university of montana | 1: university of vermont | 2: university of maine |

 0

the university of montana




university of montana western umw
0: the university of montana western | 1: university of northwestern ohio | 2: university of northwestern st paul |

 0

the university of montana western




university of nebraska lincoln unl
0: university of nebraska lincoln | 1: university of nebraska medical center | 2: university of nebraska at kearney |

 0

university of nebraska lincoln




university of nebraska omaha uno
0: university of nebraska at omaha | 1: university of nebraska lincoln | 2: university of nebraska at kearney |

 0

university of nebraska at omaha




university of nevada las vegas unlv
0: university of nevada las vegas | 1: university of nevada reno | 2: university of new haven |

 0

university of nevada las vegas




university of new hampshire unh
0: university of new hampshire at manchester | 1: university of new hampshire main campus | 2: university of new haven |

 1

university of new hampshire main campus




university of new haven unh
0: university of new haven | 1: university of new england | 2: university of new orleans |

 0

university of new haven




university of new mexico unm
0: university of new mexico gallup campus | 1: university of new mexico taos campus | 2: university of new mexico main campus |

 2

university of new mexico main campus




university of new orleans uno
0: university of new orleans | 1: university of new england | 2: university of new haven |

 0

university of new orleans




university of north carolina at chapel hill unc
0: university of north carolina at chapel hill | 1: university of north carolina at asheville | 2: university of north carolina at charlotte |

 0

university of north carolina at chapel hill




university of north carolina at charlotte unc charlotte
0: university of north carolina at charlotte | 1: university of north carolina at pembroke | 2: university of north carolina at chapel hill |

 0

university of north carolina at charlotte




university of north carolina at greensboro unc greensboro
0: university of north carolina at greensboro | 1: university of north carolina at pembroke | 2: university of north carolina at charlotte |

 0

university of north carolina at greensboro




university of north carolina at wilmington unc wilmington
0: university of north carolina wilmington | 1: university of north carolina at charlotte | 2: university of north carolina at asheville |

 0

university of north carolina wilmington




university of north carolina school of the arts uncsa
0: university of north carolina school of the arts | 1: university of north carolina at charlotte | 2: university of north carolina at greensboro |

 0

university of north carolina school of the arts




university of north dakota und
0: university of north dakota | 1: university of south dakota | 2: university of north texas |

 0

university of north dakota




university of north texas unt
0: university of north texas | 1: university of north texas at dallas | 2: university of north dakota |

 0

university of north texas




university of northern colorado unc
0: university of northern colorado | 1: university of northern iowa | 2: university of north florida |

 0

university of northern colorado




university of oklahoma
0: university of central oklahoma | 1: university of idaho | 2: university of toledo |

university of pennsylvania upenn
0: university of pennsylvania | 1: clarion university of pennsylvania | 2: cheyney university of pennsylvania |

 0

university of pennsylvania




university of pittsburgh pitt
0: university of pittsburgh titusville | 1: university of pittsburgh johnstown | 2: university of pittsburgh pittsburgh campus |

 2

university of pittsburgh pittsburgh campus




university of rhode island uri
0: university of rhode island | 1: university of redlands | 2: university of the virgin islands |

 0

university of rhode island




university of san diego usd
0: university of san diego | 1: university of california san diego | 2: university of st francis |

 0

university of san diego




university of san francisco usf
0: university of san francisco | 1: university of st francis | 2: university of saint francis fort wayne |

 0

university of san francisco




university of south alabama south
0: university of south alabama | 1: university of north alabama | 2: university of west alabama |

 0

university of south alabama




university of south carolina aiken usc aiken
0: university of south carolina aiken | 1: university of south carolina lancaster | 2: university of south carolina upstate |

 0

university of south carolina aiken




university of south carolina upstate usc upstate
0: university of south carolina upstate | 1: university of south carolina sumter | 2: university of south carolina salkehatchie |

 0

university of south carolina upstate




university of south carolina usc
0: university of south carolina upstate | 1: university of south carolina union | 2: university of south carolina sumter |

university of south dakota usd
0: university of south dakota | 1: university of north dakota | 2: university of south carolina upstate |

 0

university of south dakota




university of south florida st petersburg
0: university of south florida | 1: university of south carolina sumter | 2: university of north florida |

university of south florida usf
0: university of south florida | 1: university of north florida | 2: nuc university   south florida |

 0

university of south florida




university of southern california usc
0: university of southern california | 1: vanguard university of southern california | 2: university of phoenix california |

 0

university of southern california




university of southern indiana usi
0: university of southern indiana | 1: university of southern maine | 2: university of southern california |

 0

university of southern indiana




university of southern mississippi southern miss
0: university of southern mississippi | 1: university of southern california | 2: university of mississippi |

 0

university of southern mississippi




university of st thomas minnesota
0: university of st thomas | 1: university of maine | 2: university of west los angeles |

 0

university of st thomas




university of st thomas texas
0: university of st thomas | 1: university of north texas | 2: university of phoenix texas |

university of tampa
0: the university of tampa | 1: university of utah | 2: university of mary |

 0

the university of tampa




university of tennessee
0: devry university tennessee | 1: the university of tennessee martin | 2: university of the west |

university of tennessee chattanooga
0: the university of tennessee chattanooga | 1: the university of tennessee martin | 2: the university of tennessee knoxville |

 0

the university of tennessee chattanooga




university of tennessee martin
0: the university of tennessee martin | 1: the university of tennessee southern | 2: the university of tennessee chattanooga |

 0

the university of tennessee martin




university of texas at arlington ut arlington
0: the university of texas at arlington | 1: the university of texas at san antonio | 2: university of maine at farmington |

 0

the university of texas at arlington




university of texas at el paso utep
0: the university of texas at el paso | 1: the university of texas at dallas | 2: the university of texas at austin |

 0

the university of texas at el paso




university of texas at san antonio utsa
0: the university of texas at san antonio | 1: the university of texas at arlington | 2: the university of texas at dallas |

 0

the university of texas at san antonio




university of texas of the permian basin
0: the university of texas permian basin | 1: university of southern maine | 2: the university of texas at austin |

 0

the university of texas permian basin




university of the arts uarts
0: the university of the arts | 1: university of the ozarks | 2: university of the west |

 0

the university of the arts




university of virginia college at wise
0: university of virginia's college at wise | 1: university of virginia main campus | 2: university of california hastings college of law |

 0

university of virginia's college at wise




university of washington
0: university of mary washington | 1: university of scranton | 2: university of dayton |

university of west florida uwf
0: the university of west florida | 1: university of south florida | 2: university of florida |

 0

the university of west florida




university of west georgia uwg
0: university of west georgia | 1: university of georgia | 2: university of north georgia |

 0

university of west georgia




university of wisconsin madison wisconsin
0: university of wisconsin madison | 1: university of wisconsin la crosse | 2: university of wisconsin oshkosh |

 0

university of wisconsin madison




university of wisconsin milwaukee uwm
0: university of wisconsin milwaukee | 1: university of wisconsin milwaukee flex | 2: university of wisconsin whitewater |

 0

university of wisconsin milwaukee




valparaiso university valpo
0: valparaiso university | 1: clarkson university | 2: atlantis university |

 0

valparaiso university




vermilion community college
0: elgin community college | 1: meridian community college | 2: wilson community college |

virginia tech

voorhees college
0: rhodes college | 1: northwest college | 2: reed college |

washington and jefferson college w j
0: washington jefferson college | 1: washington barber college inc | 2: washington college |

 0

washington jefferson college




wentworth institute of technology wit
0: wentworth institute of technology | 1: new york institute of technology | 2: erie institute of technology inc |

 0

wentworth institute of technology




west chester university wcupa
0: west chester university of pennsylvania | 1: west coast university miami | 2: west coast university dallas |

 0

west chester university of pennsylvania




west texas a and m university
0: west texas a m university | 1: east texas baptist university | 2: texas health and science university |

 0

west texas a m university




western new england university wne
0: western new england university | 1: western new mexico university | 2: western oregon university |

 0

western new england university




westminster college missouri
0: westminster college | 1: westmont college | 2: west hills college lemoore |

westminster college pennsylvania
0: westminster college | 1: york college of pennsylvania | 2: ross college sylvania |

 0

westminster college




westminster university utah
0: keiser university tampa | 1: webster university | 2: west liberty university |

wheaton college illinois
0: wheaton college | 1: hesston college | 2: carrington college boise |

 0

wheaton college




wheaton college massachusetts
0: wheaton college (massachusetts) | 1: wheaton college | 2: southeastern college miami lakes |

 0

wheaton college (massachusetts)




wright state university
0: wichita state university | 1: weber state university | 2: minot state university |

yeshiva d monsey rabbinical college
0: yeshiva d'monsey rabbinical college | 1: yeshiva of nitra rabbinical college | 2: yeshivah gedolah rabbinical college |

 0

yeshiva d'monsey rabbinical college




yeshiva gedolah imrei yosef dpinka
0: yeshiva gedolah imrei yosef d'spinka | 1: yeshiva gedolah shaarei shmuel | 2: yeshiva gedolah kesser torah |

 0

yeshiva gedolah imrei yosef d'spinka




yeshiva shaar hatorah
0: yeshivath shaar hatorah | 1: yeshiva chemdas hatorah | 2: yeshiva shaar ephraim |

 0

yeshivath shaar hatorah




york college
0: taylor college | 1: ozarka college | 2: lyon college |

In [13]:
file = open('edited_name_list.txt', 'w')
for pair in not_found_list:
    file.write(str(pair) + '\n')
file.close()

In [18]:
new_df = pd.DataFrame.from_dict(gov_dict, orient='index')
new_df

,Sat Avg,Act Avg,Median 1 Year Salary,Median 4 Year Salary,agriculture,resources,architecture,ethnic_cultural_gender,communication,communications_technology,...,assoc public_administration_social_service,assoc social_science,assoc construction,assoc mechanic_repair_technology,assoc precision_production,assoc transportation,assoc visual_performing,assoc health,assoc business_marketing,assoc history
a better u beauty barber academy,NaN,NaN,NaN,NaN,0.0,0.0000,0.0,0.0000,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
a t still university of health sciences,NaN,NaN,73982.0,101684.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
aaniiih nakoda college,NaN,NaN,24085.0,25808.0,0.0,0.0769,0.0,0.0385,0.0,0.0000,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
abc adult school,NaN,NaN,NaN,NaN,0.0,0.0000,0.0,0.0000,0.0,0.0088,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abc adult school cabrillo lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
z hair academy,NaN,NaN,20038.0,25611.0,0.0,0.0000,0.0,0.0000,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zane state college,NaN,NaN,33119.0,33031.0,0.0,0.0235,0.0,0.0000,0.0,0.0000,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,2.0,2.0,0.0
zen shiatsu chicago,NaN,NaN,NaN,NaN,0.0,0.0000,0.0,0.0000,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zion massage college,NaN,NaN,NaN,NaN,0.0,0.0000,0.0,0.0000,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
zms the academy,NaN,NaN,13261.0,12703.0,0.0,0.0000,0.0,0.0000,0.0,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
header = df.columns

20

In [76]:
df.insert(len(header), 'hello', 'a', True)

In [77]:
df = df.drop('hello', axis='columns')

In [78]:
df

,Name,Address,Geo Location,in state,out of state,First Year Students,Acceptance Rate (T/F/M),Total Applicants,Applicants Stats (F/M),Percent Accepted that Attend,Sex,Percent (F/M),Retention,International Students,Asian and Pacific Islander,Black,Hispanic,Native American,Other,White
0,aaniiih nakoda college,269 Blackfeet Avenue Harlem MT 59526,(48.48461 -108.75933),$2410,$2410,18.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),67%,0%,&lt; 1%,&lt; 1%,&lt; 1%,87%,&lt; 1%,13%
1,abilene christian university,1600 Campus Ct Abilene TX 79699,(32.46678 -99.70893),$50978,$50978,833.0,('70%' '71%' '66%'),8208.0,('65%' '35%'),14%,Co-ed,('62%' '38%'),77%,4%,1%,9%,18%,&lt; 1%,6%,66%
2,abraham baldwin agricultural college,2802 Moore Hwy Tifton GA 31793,(31.47547 -83.52372),$11527,$18433,865.0,('76%' '73%' '78%'),2190.0,('61%' '39%'),52%,Co-ed,('56%' '44%'),64%,1%,1%,21%,5%,&lt; 1%,1%,71%
3,academy college,1600 W. 82nd Street Suite 100 Bloomington MN 5...,(44.85602 -93.2996),$18644,$18644,16.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),100%,0%,4%,1%,2%,2%,33%,58%
4,academy of art university,79 New Montgomery San Francisco CA 94105,(37.78781 -122.40092),$44910,$44910,281.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),69%,24%,7%,12%,16%,1%,36%,27%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,york technical college,452 S Anderson Rd Rock Hill SC 29730,(34.93594 -80.99659),$5410,$10354,615.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),57%,0%,2%,22%,9%,1%,8%,58%
2895,young harris college,1 College Street Young Harris GA 30582,(34.9333 -83.84719),$41664,$41664,304.0,('75%' '79%' '69%'),1850.0,('57%' '43%'),22%,Co-ed,('50%' '50%'),76%,6%,1%,7%,4%,&lt; 1%,17%,70%
2896,youngstown state university,One University Plaza Youngstown OH 44555,(41.10664 -80.64647),$19796,$20156,1627.0,('78%' '78%' '77%'),6718.0,('60%' '40%'),31%,Co-ed,('54%' '46%'),76%,3%,1%,11%,4%,&lt; 1%,8%,76%
2897,yuba college,2088 N Beale Rd Marysville CA 95901,(39.12804 -121.5397),$1128,$7488,311.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),38%,0%,17%,3%,39%,1%,10%,30%
2898,zane state college,1555 Newark Rd Zanesville OH 43701-2626,(39.96116 -82.03369),$5556,$10866,192.0,NaN,NaN,NaN,NaN,Co-ed,('n/a' 'n/a'),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN